* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
#LeftSidedItems {
    float: left;
    text-align: left; 
}

#RightSidedItems {
    float: right;
    text-align: right;
}

#CenterAligned {
    display: flex;
    justify-content: center;
    align-items: center;
}
