:root {
    --background: #FEFAE0;
    --color: #CCD5AE;
    --primary-color: #B5C2B2;
    --container: #DDD5D5;
}

* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }


body{
    background: var(--background);
}


#CenterAligned {
    display: flex;
    justify-content: center;
    align-items: center;
}
#RightAligned {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-wrap:wrap;
}


#Rightcontainer{
    display: flex;
    background: var(--background);
    border: 3.5px solid var(--color);
    width: 20%; 
    padding: 1px; 
    box-sizing: border-box;
    border-radius: 10px;
    height: 85%;
    float: right;
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.5);
    border-radius: 30px;

}
#Leftcontainer{
    display: flex;
    background: var(--background);
    border: 3.5px solid var(--color);
    width: 20%; 
    padding: 1px; 
    box-sizing: border-box;
    height: 85%;
    float: left;
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
#Centercontainer{
    display: flex;
    background: var(--background);
    border: 3.5px solid var(--color);
    width: 40%; 
    padding: 1px; 
    box-sizing: border-box;
    border-radius: 30px;
    height: 95%;
    float: center;
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.5);
    

}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.dropdown-content li {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer{
  background: #82a887;
  text-align: center;
}

