:root {
    --background: #FEFAE0;
    --color: #CCD5AE;
    --primary-color: #B5C2B2;
    --container: #DDD5D5;
}

* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: var(--background);
    color: var(--color);
    letter-spacing: 1px;
}

#CenterAligned {
    display: flex;
    justify-content: center;
    align-items: center;
}

#RightAligned {
    display: grid;
    justify-content: flex-end; 
    align-items: center; 
    flex-wrap: wrap;
}

#Rightcontainer,
#Leftcontainer,
#Centercontainer {
    display: flex;
    background: var(--background);
    border: 3.5px solid var(--color);
    padding: 1px;
    box-sizing: border-box;
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

#Rightcontainer,
#Leftcontainer {
    width: 20%;
    margin-top: 3%;
}

#Leftcontainer {
    margin-right: 3%;
}

#Rightcontainer {
    margin-left: auto; /* Adjusted margin */
}

#Centercontainer {
    width: 40%;
    margin-top: 3%;
    margin-left: auto; /* Adjusted margin */
    margin-right: auto; /* Adjusted margin */
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
}

#Leftcontainer button,
#Leftcontainer input[type="checkbox"],
button,
input[type="checkbox"],
input[type="submit"] {
    margin-bottom: 10px; 
    background-color: var(--primary-color);
    color: var(--color);
    display: block;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    border-color: var(--color);
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
