:root {
    --background: #FEFAE0;
    --color: #CCD5AE;
    --primary-color: #B5C2B2;
    --container: #DDD5D5;
  }
  
  * {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: var(--color)
  }
  
  body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: var(--background);
    color: var(--color);
    letter-spacing: 1px;
  }
  
  
  
  .header__wrapper {
    width: 100%;
  }
  
  .header__wrapper header {
    background-color: var(--primary-color);
    min-height: calc(100px + 15vw);
  }
  
  .header__wrapper .cols__container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  .header__wrapper .cols__container .left__col {
    padding: 25px 20px;
    max-width: 350px;
    position: relative;
  }
  
  .header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translatex(-50%);
  }
  
  .header__wrapper .cols__container .left__col .img__container img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 30%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
  }
  
  .header__wrapper .cols__container .left__col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
  }
  
  .header__wrapper .cols__container .left__col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
  }
  
  .header__wrapper .cols__container .left__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
  }
  
  .header__wrapper .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
  }
  
  .header__wrapper .cols__container .left__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
  }
  
  .header__wrapper .cols__container .left__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    height: 1px;
    width: 50%;
  }
  
  .header__wrapper .cols__container .content p {
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8em;
  }
  
  .header__wrapper .cols__container .content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  
  .header__wrapper .cols__container .content ul li {
    display: flex;
  }
  
  .header__wrapper .cols__container .content ul i {
    font-size: 1.3rem;
  }
  
  .header__wrapper .cols__container .right__col nav {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 30px 0;
  }
  
  .header__wrapper .cols__container .right__col nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .header__wrapper .cols__container .right__col nav ul li a {
    text-transform: uppercase;
    color: #818181;
  }
  
  .header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;
  }
  
  .header__wrapper .cols__container .right__col nav button {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  
  
  .header__wrapper .cols__container .right__col .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 10px;
    max-width: 100%;
    overflow: auto; 
  }
  
  .header__wrapper .cols__container .right__col .photos img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  #listItem {
    background-color: var(--primary-color);
    color: var(--color);
    display: block;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 1px;
    justify-content: center;
    border-color: var(--color);
    text-align:center;
  
  }
  #aboutWrapper{
    margin-top:140px;
  }
  .about li {
    text-align: center;
    margin-left: -30px;
    padding: 20px;
    
  }
  
  #navWrapper{
    margin-left: -30px;
  }
  
  footer{
    background-color: var(--primary-color);
  }

  li {
    padding: 20px;
    background-color: #9191911f; 
    border: 5px solid var(--color); 
    border-radius: 15px;
    text-align: center;
    margin: 20px;
  }

#center{
  margin-left: -90px;
}
  


input[type="checkbox"],
button,
input[type="checkbox"],
input[type="submit"] {
    margin-bottom: 10px; 
    background-color: var(--primary-color);
    color: var(--color);
    display: block;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    border-color: var(--color);
}