.box {
    width: 400px;
    margin: 0px auto;
    background: var(--color);
    padding: 30px;
    text-align: center;
    font-weight: 900;
    color:var(--primary-color);
    position: relative;
    border-radius: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .corner:before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--color);
    border-top: 10px solid var(--color);
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -15px;
  }